@model  IList<CaelumEstoque.Models.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var produto in Model)
                    {
                        <tr>
                            <td>@produto.Id</td>
                            <td>
                                @Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id})
                            </td>
                            <td>@produto.Quantidade</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
